In [0]:
import pandas as pd 
import numpy as np 
import os
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns 
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
%matplotlib inline
import pickle

In [0]:
# loading the dataset into a dataframe called df with the index column as 'Date'
crimes = pd.read_csv('/content/ChicagoCrimes.csv')
# crimes = pd.concat(df, ignore_index = True)
crimes.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         ID Case Number                    Date  ... Latitude Longitude Location
0  11034701    JA366925  01/01/2001 11:00:00 AM  ...      NaN       NaN      NaN
1  11227287    JB147188  10/08/2017 03:00:00 AM  ...      NaN       NaN      NaN
2  11227583    JB147595  03/28/2017 02:00:00 PM  ...      NaN       NaN      NaN
3  11227293    JB147230  09/09/2017 08:17:00 PM  ...      NaN       NaN      NaN
4  11227634    JB147599  08/26/2017 10:00:00 AM  ...      NaN       NaN      NaN

[5 rows x 22 columns]

In [0]:
crimes.index = pd.to_datetime(crimes.Date,format ='%m/%d/%Y %I:%M:%S %p')
type(crimes.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [0]:
# Shape of the data frames indicates that they are around 7 million rows and 21 columns after excluding 'Date' column
crimes.shape

(7069282, 22)

In [0]:
# output the names of all the columns in that data frame
crimes.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [0]:
# from this we can clearly see they are more number of missing values in the both the co-ordinates and their latitude and longitudes 
crimes.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7069282 entries, 2001-01-01 11:00:00 to 2017-11-30 09:00:00
Data columns (total 22 columns):
ID                      7069282 non-null int64
Case Number             7069278 non-null object
Date                    7069282 non-null object
Block                   7069282 non-null object
IUCR                    7069282 non-null object
Primary Type            7069282 non-null object
Description             7069282 non-null object
Location Description    7063043 non-null object
Arrest                  7069282 non-null bool
Domestic                7069282 non-null bool
Beat                    7069282 non-null int64
District                7069235 non-null float64
Ward                    6454453 non-null float64
Community Area          6455786 non-null float64
FBI Code                7069282 non-null object
X Coordinate            7001482 non-null float64
Y Coordinate            7001482 non-null float64
Year                    7069282 non-null int64
Updated On              7069282 non-null object
Latitude                7001482 non-null float64
Longitude               7001482 non-null float64
Location                7001482 non-null object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.1+ GB

In [0]:
crimes.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [0]:
crimes.isnull().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      6239
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614829
Community Area          613496
FBI Code                     0
X Coordinate             67800
Y Coordinate             67800
Year                         0
Updated On                   0
Latitude                 67800
Longitude                67800
Location                 67800
dtype: int64

In [0]:
# dropping all the null values from the dataset
crimes.dropna(axis = 0, inplace = True)
# dropping the duplicates from the data if any
crimes.drop_duplicates(keep= False, inplace = True)
print(crimes.isnull().sum().sum())
assert crimes.notnull().all().all()
# using assert function i would like to check whether my dataset consists of any null values or anything 
# if the condition satisfies , will not raise any error message  else will raise an error by doing this we can detect early warning and errors,and this gives confidence that our code is running correctly
# this shows that there is not missing values in any of the columns

0

In [0]:

# initially the dataframe consists of 7 million rows after dropping all the null values the dataframe rows is reduces to 6.8 million rows approx
print(crimes.shape)
print("There are  {} Observation and  {} features in this dataset. \n".format(crimes.shape[0],crimes.shape[1]))

(6390619, 22)
There are  6390619 Observation and  22 features in this dataset.

In [0]:
# replacing the columns of boolean containing true or false to 1 and 0
crimes.replace({True : 1,
                False : 0
               },inplace = True)

In [0]:
unique_primary_types = crimes['Primary Type'].sort_values().unique()
print('They are {} unique Primary Types'.format(len(unique_primary_types)))

They are 34 unique Primary Types

In [0]:
crimes['Primary Type'].value_counts().head()
# this contains top 5 crimes from this i want to do more analysis on the theft cases and patterns of them

THEFT              1356765
BATTERY            1169770
CRIMINAL DAMAGE     729277
NARCOTICS           652702
ASSAULT             402285
Name: Primary Type, dtype: int64

In [0]:
crimes.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [0]:
# saving into csv file 
crimes.to_csv('/content/cleaned_ChicagoCrimes.csv', index = True, header = 'True')
crimes.to_pickle('/content/cleaned_ChicagoCrimes.pkl')

In [0]:
crimes.to_pickle('/content/cleaned_ChicagoCrimes.pkl')